@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kablammo&family=Oswald:wght@400;500&family=Roboto:wght@900&display=swap');


nav{
    background-color: rgb(46, 46, 46);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 10px;
}
.imgNav{
    height: 50px;
    width: 200px;
}
.navmenu{
    background-color: black;
    height: 50px;
    width: 75px;
}
.login, .logout{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.login:hover, .logout:hover, .navA:hover{
    color: rgb(0, 204, 255);
}
.navslah{
    color: black;
    background-color: rgb(46, 46, 46);
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.navUl{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navA{
    font-size: 40px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}