nav{
    background-color: rgb(46, 46, 46);
    height: 75px;
    display: flex;
    align-items: center;
}
.imgNav{
    height: 50px;
    width: 200px;
}
.navmenu{
    background-color: black;
    height: 50px;
    width: 75px;
}